:root{
    --primary-text-color:#212121;
    --paragraph-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-color: #2F303A;
}
body{
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* Головна сторінка */
/* Загальні до головної сторінки*/
.link {
    text-decoration: none;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.conteiner{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Логотип header*/
.header-logo{
    color: var(--logo-color);
}
.accent-logo{
    color: var(--accent-color);
}
.header-logo, .accent-logo, .footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* Навігація */
.list-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-nav .link.current{
    color: var(--accent-color);
}
.list-nav .link:hover, .list-nav .link:focus{
    color: var(--accent-color);
}
/* Контакти */
.contacts .link{
    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .link:hover, .contacts .link:focus{
    color: var(--accent-color);
}
/* Герой */
.hero{
    background-color: var(--footer-color);
    text-align: center;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    border-radius: 4px;
    border: none;

    font-size: 16px;
    text-align: center;
}
 .button:hover, .hero .button:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}
.hero .button{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 216px;
    margin-bottom: 294px;
    
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.06em;
}
/* Секції Загальні налаштування*/
.section .section-text{
    color: var(--paragraph-color);
}
.section-title{
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.section-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}
/* Особливості */
.section-title.specialty{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section.specialty {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Роботи */
.works.section{
    padding-bottom: 94px;
}
.works .section-title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* Команда */
.team.section{
    background-color: var(--additional-background-color);
    padding-top: 94px;
    padding-bottom: 84px;
}
.team .section-title{
    margin-bottom: 50px;
    font-weight: 700;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team .photo{
    margin-bottom: 30px;
}
.team .section-title.member{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
}
.team .section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/* Підвал */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-color);
}
.logo{
    margin-bottom: 20px;
}
.footer-logo {
    color: var(--white-text-color);

}
.address .link{
    display: inline-block;
    margin-bottom: 9px;

    color: var(--white-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address .link.tel{
    margin-bottom: 0px;
}
.footer-list .link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71 
}
.footer-list .link:hover, .footer-list .link:focus {
    color: var(--accent-color);
}
/* Портфоліо */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.title-portfolio{
    margin-top: 0;
    margin-bottom: 0;
}
.list-portfolio{
    list-style: none;
    margin-bottom: 34px;
}

.list-portfolio .button{
    background-color: var(--additional-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
}
.list-portfolio .button:hover,
.list-portfolio .button:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);}

.list-portfolio .title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.list-portfolio .text{
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
